
* {
  box-sizing: border-box;
}

header {
  font-family: "Marker Felt";
  text-align: center;
  background-color: #EDDCD2;
  color: #564424; 
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  display: block;
}

main {
  color: #564424;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
}

.contact-title {
  border-bottom: 1px solid lightgray;
  padding: 20px;
  margin: 0;
}

form label {
  display: flex;
  margin-bottom: 5px;
}

section {
  background-color: #B4CFC6;
}

.intro {
  background-color: #B4CFC6;
}

.about-me, .contact {
  background-color: #EDDCD2;
}

.projects {
  background-color: #cacac0;
}

img {
  width: 100%;
  border-radius: 10%;
}

/* Mobile-First */

.group {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    padding: 20px;
  }
  
  .item-double {
    flex: 2;
    margin: 10px;
  }

  .contact {
    padding-bottom: 50px;
  }

  form input, 
  form textarea {
      width: 100%;
      margin-bottom: 20px;
  }
  
  form textarea {
      height: 160px;
  }

a:link {
  color: blue;
}

a:visited {
  color: #7776BC;
}

a:hover {
  color: tomato;
}

a:active {
  color: cornflowerblue;
}

  /* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
    .wrapper {
      width: 80%;
      margin: auto;
    }
  
    .group {
      flex-direction: row;
    }

    section {
      padding: 0 10%;
    }
  }